RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^mahasiswa/?$ api_mahasiswa.php [QSA,L]
RewriteRule ^mahasiswa/([0-9]+)/?$ api_mahasiswa.php?id=$1 [QSA,L]
RewriteRule ^buku/?$ api_buku.php [QSA,L]
RewriteRule ^buku/([0-9]+)/?$ api_buku.php?id=$1 [QSA,L]